html,
body {
  padding: 0;
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
}
/* 
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
} */

.link {
  cursor:pointer !important;
}
.link:hover {
  cursor:pointer !important;
  background-color: black
}

/* @import '../assets/dashboard_css/style.css'; */
/* @import '../assets/dashboard_css/datepicker.min.css'; */
@import '../assets/dashboard_css/instructor-dashboard.css';
/* @import '../assets/dashboard_css/instructor-responsive.css'; */


@import "../assets/vendor/unicons-2.0.1/css/unicons.css";
@import "../assets/css/vertical-responsive-menu.min.css";
@import "../assets/css/responsive.css";
@import "../assets/css/night-mode.css";

@import "../assets/vendor/fontawesome-free/css/all.min.css";
@import "../assets/vendor/OwlCarousel/assets/owl.carousel.css";
@import "../assets/vendor/OwlCarousel/assets/owl.theme.default.min.css";
@import "../assets/vendor/bootstrap/css/bootstrap.min.css";
@import "../assets/vendor/semantic/semantic.min.css";
@import "../assets/css/style.css";
